/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

.content {
  display: flex;
  /* flex-direction: row; */
  /* align-content: space-between; */
  justify-content: center;
  column-gap: 30px;
  padding: 30px;
}

/* header.exercise-header {

  top: 0;

} */

form {
  border: 1px solid #a9a9a9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-header {
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* form div {
  border: 1px solid #a9a9a9;
  padding: 20px;
  display: flex;
  flex-direction: column;
} 
*/
.form-submit-control {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 20px; */
  gap: 10px;
}
.form-group-horizontal-control {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-bottom: 20px; */
  /* width: 100%; */
  column-gap: 30px;
}
.form-group-horizontal-control .form-input-control {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* margin-bottom: 20px; */
  /* column-gap: 20px; */
  width: 100%;
}
.form-input-control {
  display: flex;
  flex-direction: column;

  /* margin-bottom: 10px; */
  column-gap: 5px;
}
.form-group-vertical-control {
  display: flex;
  flex-direction: column;
  column-gap: 2px;
}
.form-group-vertical-control .form-radio-control {
  height: 25px;
}
/* hr {
  margin-top: 20px;
  margin-bottom: 20px;
} */


.subtext {
  color: #a9a9a9;
  font-weight: unset;
}

#sign-in,
#sign-up {
  width: 100%;
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
  padding-bottom: 6px;
  /* margin-bottom: 6px; */
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
  /* margin-top: 6px; */
  /* margin-bottom: 20px; */
  /* gap: 20px; */
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form select {
  height: 30px;
}
.font-weight-normal label{
  font-weight: normal;
}
/* select {
  appearance: base-select;
} */

/* #field-top-margin {
  margin: 6px;
} */


